<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.761213222786-b8k4m1iq6o9b9bhs5rvkhs8apshs433v</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-761213222786-ios-12dd27c30eb83b0751199b
</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb531374033193485</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>531374033193485</string>
	<key>FacebookClientToken</key>
	<string>dda708bcdc160961377023c70bde6be2</string>
	<key>FacebookDisplayName</key>
	<string>Senior Connect</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GIDClientID</key>
	<string>761213222786-b8k4m1iq6o9b9bhs5rvkhs8apshs433v.apps.googleusercontent.com</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>processing</string>
		<string>fetch</string>
	</array>
</dict>
</plist>
